.answer {
  width: 47%;
  padding: 5px;
  border: 1px solid #7d7878;
  border-radius: 10px;
  background-color: #b3b3b3;
  box-shadow: 5.14px 3.09px 14px #5a8686;
  font-family: Tahoma, sans-serif;
  &:hover {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #787c7d;
    border-right-color: #787c7d;
    border-bottom-color: #787c7d;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #787c7d;
    border-right-color: #787c7d;
    border-bottom-color: #787c7d;
    border-left-color: #787c7d;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #787c7d;
    border-right-color: #787c7d;
    border-bottom-color: #787c7d;
    border-left-color: #787c7d;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #787c7d;
    border-right-color: #787c7d;
    border-left-color: #787c7d;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #787c7d;
    border-right-color: #787c7d;
    border-bottom-color: #787c7d;
    border-left-color: #787c7d;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #787c7d;
    border-right-color: #787c7d;
    border-bottom-color: #787c7d;
    border-left-color: #787c7d;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #787c7d;
    border-bottom-color: #787c7d;
    border-left-color: #787c7d;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #787c7d;
    border-right-color: #787c7d;
    border-bottom-color: #787c7d;
    border-left-color: #787c7d;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #787c7d;
    border-right-color: #787c7d;
    border-bottom-color: #787c7d;
    border-left-color: #787c7d;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #787c7d;
    border-bottom-color: #787c7d;
    border-left-color: #787c7d;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #787c7d;
    border-right-color: #787c7d;
    border-bottom-color: #787c7d;
    border-left-color: #787c7d;
    border: 1px solid #797d80;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-bottom-color: #36bcd2;
    border-left-color: #36bcd2;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #36bcd2;
    border-right-color: #36bcd2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #30c0d9;
    border-right-color: #30c0d9;
    border-bottom-color: #30c0d9;
    border-left-color: #30c0d9;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #30c0d9;
    border-right-color: #30c0d9;
    border-bottom-color: #30c0d9;
    border-left-color: #30c0d9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #30c0d9;
    border-right-color: #30c0d9;
    border-bottom-color: #30c0d9;
    border-left-color: #30c0d9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #30c0d9;
    border-right-color: #30c0d9;
    border-bottom-color: #30c0d9;
    border-left-color: #30c0d9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #30c0d9;
    border-right-color: #30c0d9;
    border-bottom-color: #30c0d9;
    border-left-color: #30c0d9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #30c0d9;
    border-right-color: #30c0d9;
    border-bottom-color: #30c0d9;
    border-left-color: #30c0d9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #30c0d9;
    border-right-color: #30c0d9;
    border-bottom-color: #30c0d9;
    border-left-color: #30c0d9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #30c0d9;
    border-right-color: #30c0d9;
    border-bottom-color: #30c0d9;
    border-left-color: #30c0d9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #30c0d9;
    border-bottom-color: #30c0d9;
    border-left-color: #30c0d9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #30c0d9;
    border-bottom-color: #30c0d9;
    border-left-color: #30c0d9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #30c0d9;
    border-right-color: #30c0d9;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #28c5df;
    border-right-color: #28c5df;
    border-bottom-color: #28c5df;
    border-left-color: #28c5df;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #28c5df;
    border-right-color: #28c5df;
    border-bottom-color: #28c5df;
    border-left-color: #28c5df;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #28c5df;
    border-right-color: #28c5df;
    border-bottom-color: #28c5df;
    border-left-color: #28c5df;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #28c5df;
    border-right-color: #28c5df;
    border-bottom-color: #28c5df;
    border-left-color: #28c5df;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #28c5df;
    border-right-color: #28c5df;
    border-bottom-color: #28c5df;
    border-left-color: #28c5df;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #28c5df;
    border-right-color: #28c5df;
    border-bottom-color: #28c5df;
    border-left-color: #28c5df;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: #28c5df;
    border-right-color: #28c5df;
    border-bottom-color: #28c5df;
    border-left-color: #28c5df;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #28c5df;
    border-right-color: #28c5df;
    border-bottom-color: #28c5df;
    border-left-color: #28c5df;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #28c5df;
    border-bottom-color: #28c5df;
    border-left-color: #28c5df;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #28c5df;
    border-bottom-color: #28c5df;
    border-left-color: #28c5df;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #28c5df;
    border-right-color: #28c5df;
    border-left-color: #28c5df;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #28c5df;
    border-right-color: #28c5df;
    border-bottom-color: #28c5df;
  }
}
