.stat-container {
  align-self: baseline;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px;
  background-color: #694fe4;
  box-shadow: -2.2px 3.34px 18px -2px #f016ca;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-variant: all-small-caps;
  direction: ltr;
  border-radius: 10px;
  text-align: end;
}
.quest-text {
}
.question-text {
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 16px;
  margin-left: 78px;
}
