.app {
  background-color: #585858;
  padding: 10px;
  width: 500px;
  border: 0px solid black;
  border-radius: 10px;
  margin-top: 144px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 220px;
}
.next-btn {
  margin-top: 10px;
}
